<h1>Create a new cat</h1>

<form action= "<%= cats_url %>" method="post" style="background: mediumspringgreen;">
  <label for="name">Name:</label>
  <input type="text" name="cat[name]" id="name">
  <br>
  <label for="M">M:</label>
  <input type="radio" name="cat[sex]" id="M" value="M">
  <label for="sex">F:</label>
  <input type="radio" name="cat[sex]" id="F" value="F">
  <br>
  <select name="cat[color]">
    <option disabled selected>select color</option>

    <!-- Iterate through Cat::COLORS to generate options -->

    <option value="black">black</option>
    <option value="sepia">sepia</option>
    <option value="white">white</option>
    <option value="orange">orange</option>
    <option value="slate">slate</option>
  </select>
  <br>
  <label for="birth_date">Date of birth</label>
  <input type="date" name="cat[birth_date]" id="birth_date">
  <br>
  <label for="description"></label>
  <textarea name="cat[description]" id="description"></textarea>
  <br>
  <input type="submit" value="Add Cat">
</form>